* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c646e;
  line-height: 20px;
}

body {
  margin: 0;
}

.container {
  width: 980px;
  margin: 0 auto;
}

p, ul, ol, figure {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol , * + figure {
  margin-top: 10px;
}

 h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, .link {
  color: #ff1744;
  text-decoration: underline;
}

a:hover, .link:hover {
  text-decoration: underline;
}

.pink-link {
  color: #d08b98;
}

img {
  width: 100%;
  height: auto;
}

.letter-primary::first-letter {
  color: #ff1744;
  font-weight: bold;
}

.firts-letter {
  display: inline-block;
}