.card {
}

.card-img img {
    display: block;
    height: 128px;
    margin-bottom: 20px;
}

.card-title {
    margin: 0;
    color: #282d33;
    font-size: 18px;
}

.card-desc {
    font-size: 12px;
}

.card-link:hover {
    color: black;
}