.footer {
    background-color: #262d34;
    border-top: 12px solid #ff1744;
    margin-top: 43px;
}

.footer-title {
    padding-top: 20px;
    color: #a5adb8;
    font-size: 18px;
    display: inline-block;
}

.footer-title::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #191c20;
    margin-top: 10px;
    margin-bottom: 13px;
  }
  
.footer-list-title {
    font-size: 12px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    font-size: 12px;
    margin: 0;
}

.footer-list-item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #ff1744;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 2px;
}

.contact-info {
    color: #a5adb8;
}

.list-info {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin: 0;
}