.section-inform {
    margin-bottom: 11px;
}

.section-list {
    margin-bottom: 29px;
}

.section-title {
    font-size: 24px;
    color: #a5adb8;
    margin-bottom: 12px;
}

.section-header {
    padding: 44px 0 18px 28px;
}

.section-body {
    padding: 0 28px 38px;
}

